.sidenav {
    background-color: #e83f5b;
    width: 200px;
}

.sidenav a {
    color: #f2f2f2;
}

.sidenav i {
    padding-right: 10px;
}

.content {
    padding: 16px;
    background-color: #f2f2f2;
}