/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.link {
    text-decoration: none;
    color: #7447bc;
}

.red {
    color: #e83f5b;
}

.v-middle {
    vertical-align: middle;
}

.msg-success {
    background-color: #4cd62b;
    color: #f2f2f2;
}

.msg-error {
    background-color: #e83f5b;
    color: #f2f2f2;
}